//Colors
/*$primary: #253053;//#283593
$primary-variant1: #284193e7;
$primary-light:#5f5fc4;
$primary-dark:#001064;
$secondary: #2e7d32;
$secondary-light:#60ad5e;
$secondary-dark:#005005;
$text:#ffffffde;*/

$primary: #BB86FC;
$primaryVariant: #253053;//3700B3,253053
$secondary: #03DAC6;
$background:#1f1f1f;
$surface:#121212;
$error:#cf6679;
$onPrimary:rgba(0,0,0,0.87);
$onSecondary:rgba(0,0,0,0.87);
$onBackground:rgba(255,255,255,0.87);
$onSurface:rgba(255,255,255,0.87);
$onError:rgba(0,0,0,0.87);

