@mixin row {
  align-items: center;
  display: flex;
  height: 2.8em;
  padding: 0.1em;
  width: 100%;
}

@mixin txt ( $width ){
  outline: none;
  border: none;
  background: $background;
  color: $onBackground;
  font-size: 1em;
  width: $width;
  text-transform: uppercase;
  border-bottom: solid 1px $onBackground;
  box-shadow: 0 1px 0 0 $onBackground;
}

@mixin focusTxt {
  color: $secondary;
  border-bottom: solid 1px $secondary;
  box-shadow: 0 1px 0 0 $secondary;
}