.nuevoProducto__divProducto__row4__divLblActivo{
  margin-right: 0.5em;
    margin-left: 1em;

    .lblActivo{
      font-size: 1em;
    }
}

.nuevoProducto__divProducto__row4__divCmbActivo{
  margin-left: 0.5em;
    display: flex;
    align-items: center;

    .cmbActivo{
      @include txt(15em);
      appearance: none;
	    -webkit-appearance: none;
	    -moz-appearance: none;
      cursor: pointer;

      &:focus{
        @include focusTxt;
      }
    }

    & select::-ms-expand {
      display: none;
    }

    .cmbActivoFlecha{
      padding-bottom: 0.5em;

      i{  
        display: block;
        border-left:4px solid $onBackground;
        border-bottom:4px solid $onBackground;
        transform: rotate(-45deg); 
        transition: all 0.25s ease;
        width: 1em;
        height: 1em;
      }
    }
}